/*MARGIN*/
.custom-mt-1 {
    margin-top: 1rem !important;
}
.custom-mt-3 {
    margin-top: 3rem !important;
}
.custom-mt-8 {
    margin-top: 8rem !important;
}

/*HEIGHT*/
.custom-h-100 {
    height: 100% !important;
}