/*MARGIN*/
.custom-mt-1 {
    margin-top: 1rem !important;
}
.custom-mt-3 {
    margin-top: 3rem !important;
}
.custom-mt-8 {
    margin-top: 8rem !important;
}
/*PADDING*/
.custom-pt-6 {
    padding-top: 6rem !important;
}